.boxes .box {
  float: left;
  width: 100px;
  height: 100px;
  text-align: center; }
.boxes .one {
  background: #163e76; }
.boxes .two {
  background: #3282f3; }
.boxes .three {
  background: #1e49a1; }
.da-slider {
  width: 100%;
  min-width: 520px;
  height: 441px;
  position: relative;
  margin: 30px auto;
  overflow: hidden;
  background: transparent url(../images/waves.png) repeat 0% 0;
  -webkit-transition: background-position 1.4s ease-in-out;
  -webkit-transition-delay: 0.3s;
  -moz-transition: background-position 1.4s ease-in-out 0.3s;
  -ms-transition: background-position 1.4s ease-in-out 0.3s;
  -o-transition: background-position 1.4s ease-in-out 0.3s;
  transition: background-position 1.4s ease-in-out 0.3s; }
.da-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
   font-family: 'trump_town_proregular';
  text-align: left; }
  .da-slide .da-text, .da-slide .da-title, .da-slide .da-img, .da-slide .da-link {
    position: absolute;
    opacity: 0;
    left: 110%; }
  .da-slide .da-title {
  	top:80px;
    color: #634e42;
    width:20%;
    white-space: nowrap;
    z-index: 10;
    font-size:4em;
    text-transform: uppercase;
    
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1); }
  .da-slide .da-text {
    width: 40%;
    top:150px;
    color: white;
    font-size: 28px;
    line-height: 1.2em;
    overflow: hidden;
    font-weight: 100; }
  .da-slide .da-img {
    text-align: center;
    width: 50%;
    top: 20px;
    height: 256px;
    line-height: 320px;
    left: 110%; }
  .da-slide .da-link {
    bottom: 25px;
    width: 100px; }
    .da-slide .da-link a {
      white-space: nowrap; }

.da-slider-fb .da-slide {
  left: 100%; }
  .da-slider-fb .da-slide.da-slide-current {
    left: 0; }
  .da-slider-fb .da-slide .da-title, .da-slider-fb .da-slide .da-text, .da-slider-fb .da-slide .da-link {
    left: 10%;
    opacity: 1; }
  .da-slider-fb .da-slide .da-img {
    left: 50%;
    opacity: 1; }

.da-slide-current {
  z-index: 500; }
  .da-slide-current .da-title, .da-slide-current .da-text, .da-slide-current .da-link {
    left: 10%;
    opacity: 1; }
  .da-slide-current .da-img {
    left: 50%;
    opacity: 1; }

.da-dots {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -8px;
  z-index: 2000;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }
  .da-dots span {
   display: inline-block;
	position: relative;
	width: 32px;
	height: 32px;
	margin: 3px;
	cursor: pointer;
	background: url(../images/slider-pagenate.png) no-repeat -49px 2px;
   }
    .da-dots span.da-dots-current:after {
      content: '';
      width:32px;
      height:32px;
      position: absolute;
      top:0px;
      left:0px;
      /* non-css3 */
      background: url(../images/slider-pagenate.png) no-repeat 0px 2px;
      /* for ie */
      *zoom: 1;
      /* css3 */
}
/* Animation classes and animations */
/* Slide in from the right */
.da-slide-fromright .da-title {
  -webkit-animation: fromRightAnim1 0.6s ease-in 0.8s both;
  -moz-animation: fromRightAnim1 0.6s ease-in 0.8s both;
  -ms-animation: fromRightAnim1 0.6s ease-in 0.8s both;
  -o-animation: fromRightAnim1 0.6s ease-in 0.8s both;
  animation: fromRightAnim1 0.6s ease-in 0.8s both; }
.da-slide-fromright .da-text {
  -webkit-animation: fromRightAnim2 0.6s ease-in 0.8s both;
  -moz-animation: fromRightAnim2 0.6s ease-in 0.8s both;
  -ms-animation: fromRightAnim2 0.6s ease-in 0.8s both;
  -o-animation: fromRightAnim2 0.6s ease-in 0.8s both;
  animation: fromRightAnim2 0.6s ease-in 0.8s both; }
.da-slide-fromright .da-link {
  -webkit-animation: fromRightAnim3 0.4s ease-in 1.2s both;
  -moz-animation: fromRightAnim3 0.4s ease-in 1.2s both;
  -ms-animation: fromRightAnim3 0.4s ease-in 1.2s both;
  -o-animation: fromRightAnim3 0.4s ease-in 1.2s both;
  animation: fromRightAnim3 0.4s ease-in 1.2s both; }
.da-slide-fromright .da-img {
  -webkit-animation: fromRightAnim4 0.6s ease-in 0.8s both;
  -moz-animation: fromRightAnim4 0.6s ease-in 0.8s both;
  -ms-animation: fromRightAnim4 0.6s ease-in 0.8s both;
  -o-animation: fromRightAnim4 0.6s ease-in 0.8s both;
  animation: fromRightAnim4 0.6s ease-in 0.8s both; }

@-moz-keyframes fromRightAnim1 {
  0% {
    left: 110%;
    opacity: 0; }

  100% {
    left: 10%;
    opacity: 1; } }

@-webkit-keyframes fromRightAnim1 {
  0% {
    left: 110%;
    opacity: 0; }

  100% {
    left: 10%;
    opacity: 1; } }

@-o-keyframes fromRightAnim1 {
  0% {
    left: 110%;
    opacity: 0; }

  100% {
    left: 10%;
    opacity: 1; } }

@-ms-keyframes fromRightAnim1 {
  0% {
    left: 110%;
    opacity: 0; }

  100% {
    left: 10%;
    opacity: 1; } }

@keyframes fromRightAnim1 {
  0% {
    left: 110%;
    opacity: 0; }

  100% {
    left: 10%;
    opacity: 1; } }

@-moz-keyframes fromRightAnim2 {
  0% {
    left: 110%;
    opacity: 0; }

  100% {
    left: 10%;
    opacity: 1; } }

@-webkit-keyframes fromRightAnim2 {
  0% {
    left: 110%;
    opacity: 0; }

  100% {
    left: 10%;
    opacity: 1; } }

@-o-keyframes fromRightAnim2 {
  0% {
    left: 110%;
    opacity: 0; }

  100% {
    left: 10%;
    opacity: 1; } }

@-ms-keyframes fromRightAnim2 {
  0% {
    left: 110%;
    opacity: 0; }

  100% {
    left: 10%;
    opacity: 1; } }

@keyframes fromRightAnim2 {
  0% {
    left: 110%;
    opacity: 0; }

  100% {
    left: 10%;
    opacity: 1; } }

@-moz-keyframes fromRightAnim3 {
  0% {
    left: 110%;
    opacity: 0; }

  1% {
    left: 10%;
    opacity: 0; }

  100% {
    left: 10%;
    opacity: 1; } }

@-webkit-keyframes fromRightAnim3 {
  0% {
    left: 110%;
    opacity: 0; }

  1% {
    left: 10%;
    opacity: 0; }

  100% {
    left: 10%;
    opacity: 1; } }

@-o-keyframes fromRightAnim3 {
  0% {
    left: 110%;
    opacity: 0; }

  1% {
    left: 10%;
    opacity: 0; }

  100% {
    left: 10%;
    opacity: 1; } }

@-ms-keyframes fromRightAnim3 {
  0% {
    left: 110%;
    opacity: 0; }

  1% {
    left: 10%;
    opacity: 0; }

  100% {
    left: 10%;
    opacity: 1; } }

@keyframes fromRightAnim3 {
  0% {
    left: 110%;
    opacity: 0; }

  1% {
    left: 10%;
    opacity: 0; }

  100% {
    left: 10%;
    opacity: 1; } }

@-moz-keyframes fromRightAnim4 {
  0% {
    left: 110%;
    opacity: 0; }

  100% {
    left: 50%;
    opacity: 1; } }

@-webkit-keyframes fromRightAnim4 {
  0% {
    left: 110%;
    opacity: 0; }

  100% {
    left: 50%;
    opacity: 1; } }

@-o-keyframes fromRightAnim4 {
  0% {
    left: 110%;
    opacity: 0; }

  100% {
    left: 50%;
    opacity: 1; } }

@-ms-keyframes fromRightAnim4 {
  0% {
    left: 110%;
    opacity: 0; }

  100% {
    left: 50%;
    opacity: 1; } }

@keyframes fromRightAnim4 {
  0% {
    left: 110%;
    opacity: 0; }

  100% {
    left: 50%;
    opacity: 1; } }

/* Slide in from the left */
.da-slide-fromleft .da-title {
  -webkit-animation: fromLeftAnim1 0.6s ease-in 0.6s both;
  -moz-animation: fromLeftAnim1 0.6s ease-in 0.6s both;
  -ms-animation: fromLeftAnim1 0.6s ease-in 0.6s both;
  -o-animation: fromLeftAnim1 0.6s ease-in 0.6s both;
  animation: fromLeftAnim1 0.6s ease-in 0.6s both; }
.da-slide-fromleft .da-text {
  -webkit-animation: fromLeftAnim2 0.6s ease-in 0.6s both;
  -moz-animation: fromLeftAnim2 0.6s ease-in 0.6s both;
  -ms-animation: fromLeftAnim2 0.6s ease-in 0.6s both;
  -o-animation: fromLeftAnim2 0.6s ease-in 0.6s both;
  animation: fromLeftAnim2 0.6s ease-in 0.6s both; }
.da-slide-fromleft .da-link {
  -webkit-animation: fromLeftAnim3 0.4s ease-in 1.2s both;
  -moz-animation: fromLeftAnim3 0.4s ease-in 1.2s both;
  -ms-animation: fromLeftAnim3 0.4s ease-in 1.2s both;
  -o-animation: fromLeftAnim3 0.4s ease-in 1.2s both;
  animation: fromLeftAnim3 0.4s ease-in 1.2s both; }
.da-slide-fromleft .da-img {
  -webkit-animation: fromLeftAnim4 0.6s ease-in 0.6s both;
  -moz-animation: fromLeftAnim4 0.6s ease-in 0.6s both;
  -ms-animation: fromLeftAnim4 0.6s ease-in 0.6s both;
  -o-animation: fromLeftAnim4 0.6s ease-in 0.6s both;
  animation: fromLeftAnim4 0.6s ease-in 0.6s both; }

@-moz-keyframes fromLeftAnim1 {
  0% {
    left: -110%;
    opacity: 0; }

  100% {
    left: 10%;
    opacity: 1; } }

@-webkit-keyframes fromLeftAnim1 {
  0% {
    left: -110%;
    opacity: 0; }

  100% {
    left: 10%;
    opacity: 1; } }

@-o-keyframes fromLeftAnim1 {
  0% {
    left: -110%;
    opacity: 0; }

  100% {
    left: 10%;
    opacity: 1; } }

@-ms-keyframes fromLeftAnim1 {
  0% {
    left: -110%;
    opacity: 0; }

  100% {
    left: 10%;
    opacity: 1; } }

@keyframes fromLeftAnim1 {
  0% {
    left: -110%;
    opacity: 0; }

  100% {
    left: 10%;
    opacity: 1; } }

@-moz-keyframes fromLeftAnim2 {
  0% {
    left: -110%;
    opacity: 0; }

  100% {
    left: 10%;
    opacity: 1; } }

@-webkit-keyframes fromLeftAnim2 {
  0% {
    left: -110%;
    opacity: 0; }

  100% {
    left: 10%;
    opacity: 1; } }

@-o-keyframes fromLeftAnim2 {
  0% {
    left: -110%;
    opacity: 0; }

  100% {
    left: 10%;
    opacity: 1; } }

@-ms-keyframes fromLeftAnim2 {
  0% {
    left: -110%;
    opacity: 0; }

  100% {
    left: 10%;
    opacity: 1; } }

@keyframes fromLeftAnim2 {
  0% {
    left: -110%;
    opacity: 0; }

  100% {
    left: 10%;
    opacity: 1; } }

@-moz-keyframes fromLeftAnim3 {
  0% {
    left: -110%;
    opacity: 0; }

  1% {
    left: 10%;
    opacity: 0; }

  100% {
    left: 10%;
    opacity: 1; } }

@-webkit-keyframes fromLeftAnim3 {
  0% {
    left: -110%;
    opacity: 0; }

  1% {
    left: 10%;
    opacity: 0; }

  100% {
    left: 10%;
    opacity: 1; } }

@-o-keyframes fromLeftAnim3 {
  0% {
    left: -110%;
    opacity: 0; }

  1% {
    left: 10%;
    opacity: 0; }

  100% {
    left: 10%;
    opacity: 1; } }

@-ms-keyframes fromLeftAnim3 {
  0% {
    left: -110%;
    opacity: 0; }

  1% {
    left: 10%;
    opacity: 0; }

  100% {
    left: 10%;
    opacity: 1; } }

@keyframes fromLeftAnim3 {
  0% {
    left: -110%;
    opacity: 0; }

  1% {
    left: 10%;
    opacity: 0; }

  100% {
    left: 10%;
    opacity: 1; } }

@-moz-keyframes fromLeftAnim4 {
  0% {
    left: -110%;
    opacity: 0; }

  100% {
    left: 50%;
    opacity: 1; } }

@-webkit-keyframes fromLeftAnim4 {
  0% {
    left: -110%;
    opacity: 0; }

  100% {
    left: 50%;
    opacity: 1; } }

@-o-keyframes fromLeftAnim4 {
  0% {
    left: -110%;
    opacity: 0; }

  100% {
    left: 50%;
    opacity: 1; } }

@-ms-keyframes fromLeftAnim4 {
  0% {
    left: -110%;
    opacity: 0; }

  100% {
    left: 50%;
    opacity: 1; } }

@keyframes fromLeftAnim4 {
  0% {
    left: -110%;
    opacity: 0; }

  100% {
    left: 50%;
    opacity: 1; } }

/* Slide out to the right */
.da-slide-toright .da-title {
  -webkit-animation: toRightAnim1 0.6s ease-in 0.6s both;
  -moz-animation: toRightAnim1 0.6s ease-in 0.6s both;
  -ms-animation: toRightAnim1 0.6s ease-in 0.6s both;
  -o-animation: toRightAnim1 0.6s ease-in 0.6s both;
  animation: toRightAnim1 0.6s ease-in 0.6s both; }
.da-slide-toright .da-text {
  -webkit-animation: toRightAnim2 0.6s ease-in 0.3s both;
  -moz-animation: toRightAnim2 0.6s ease-in 0.3s both;
  -ms-animation: toRightAnim2 0.6s ease-in 0.3s both;
  -o-animation: toRightAnim2 0.6s ease-in 0.3s both;
  animation: toRightAnim2 0.6s ease-in 0.3s both; }
.da-slide-toright .da-link {
  -webkit-animation: toRightAnim3 0.4s ease-in both;
  -moz-animation: toRightAnim3 0.4s ease-in both;
  -ms-animation: toRightAnim3 0.4s ease-in both;
  -o-animation: toRightAnim3 0.4s ease-in both;
  animation: toRightAnim3 0.4s ease-in both; }
.da-slide-toright .da-img {
  -webkit-animation: toRightAnim4 0.6s ease-in both;
  -moz-animation: toRightAnim4 0.6s ease-in both;
  -ms-animation: toRightAnim4 0.6s ease-in both;
  -o-animation: toRightAnim4 0.6s ease-in both;
  animation: toRightAnim4 0.6s ease-in both; }

@-moz-keyframes toRightAnim1 {
  0% {
    left: 10%;
    opacity: 1; }

  100% {
    left: 100%;
    opacity: 0; } }

@-webkit-keyframes toRightAnim1 {
  0% {
    left: 10%;
    opacity: 1; }

  100% {
    left: 100%;
    opacity: 0; } }

@-o-keyframes toRightAnim1 {
  0% {
    left: 10%;
    opacity: 1; }

  100% {
    left: 100%;
    opacity: 0; } }

@-ms-keyframes toRightAnim1 {
  0% {
    left: 10%;
    opacity: 1; }

  100% {
    left: 100%;
    opacity: 0; } }

@keyframes toRightAnim1 {
  0% {
    left: 10%;
    opacity: 1; }

  100% {
    left: 100%;
    opacity: 0; } }

@-moz-keyframes toRightAnim2 {
  0% {
    left: 10%;
    opacity: 1; }

  100% {
    left: 100%;
    opacity: 0; } }

@-webkit-keyframes toRightAnim2 {
  0% {
    left: 10%;
    opacity: 1; }

  100% {
    left: 100%;
    opacity: 0; } }

@-o-keyframes toRightAnim2 {
  0% {
    left: 10%;
    opacity: 1; }

  100% {
    left: 100%;
    opacity: 0; } }

@-ms-keyframes toRightAnim2 {
  0% {
    left: 10%;
    opacity: 1; }

  100% {
    left: 100%;
    opacity: 0; } }

@keyframes toRightAnim2 {
  0% {
    left: 10%;
    opacity: 1; }

  100% {
    left: 100%;
    opacity: 0; } }

@-moz-keyframes toRightAnim3 {
  0% {
    left: 10%;
    opacity: 1; }

  99% {
    left: 10%;
    opacity: 0; }

  100% {
    left: 100%;
    opacity: 0; } }

@-webkit-keyframes toRightAnim3 {
  0% {
    left: 10%;
    opacity: 1; }

  99% {
    left: 10%;
    opacity: 0; }

  100% {
    left: 100%;
    opacity: 0; } }

@-o-keyframes toRightAnim3 {
  0% {
    left: 10%;
    opacity: 1; }

  99% {
    left: 10%;
    opacity: 0; }

  100% {
    left: 100%;
    opacity: 0; } }

@-ms-keyframes toRightAnim3 {
  0% {
    left: 10%;
    opacity: 1; }

  99% {
    left: 10%;
    opacity: 0; }

  100% {
    left: 100%;
    opacity: 0; } }

@keyframes toRightAnim3 {
  0% {
    left: 10%;
    opacity: 1; }

  99% {
    left: 10%;
    opacity: 0; }

  100% {
    left: 100%;
    opacity: 0; } }

@-moz-keyframes toRightAnim4 {
  0% {
    left: 50%;
    opacity: 1; }

  30% {
    left: 50%;
    opacity: 1; }

  100% {
    left: 100%;
    opacity: 0; } }

@-webkit-keyframes toRightAnim4 {
  0% {
    left: 50%;
    opacity: 1; }

  30% {
    left: 50%;
    opacity: 1; }

  100% {
    left: 100%;
    opacity: 0; } }

@-o-keyframes toRightAnim4 {
  0% {
    left: 50%;
    opacity: 1; }

  30% {
    left: 50%;
    opacity: 1; }

  100% {
    left: 100%;
    opacity: 0; } }

@-ms-keyframes toRightAnim4 {
  0% {
    left: 50%;
    opacity: 1; }

  30% {
    left: 50%;
    opacity: 1; }

  100% {
    left: 100%;
    opacity: 0; } }

@keyframes toRightAnim4 {
  0% {
    left: 50%;
    opacity: 1; }

  30% {
    left: 50%;
    opacity: 1; }

  100% {
    left: 100%;
    opacity: 0; } }

/* Slide out to the left */
.da-slide-toleft .da-title {
  -webkit-animation: toLeftAnim1 0.6s ease-in both;
  -moz-animation: toLeftAnim1 0.6s ease-in both;
  -ms-animation: toLeftAnim1 0.6s ease-in both;
  -o-animation: toLeftAnim1 0.6s ease-in both;
  animation: toLeftAnim1 0.6s ease-in both; }

.da-slide-toleft .da-text {
  -webkit-animation: toLeftAnim2 0.6s ease-in 0.3s both;
  -moz-animation: toLeftAnim2 0.6s ease-in 0.3s both;
  -ms-animation: toLeftAnim2 0.6s ease-in 0.3s both;
  -o-animation: toLeftAnim2 0.6s ease-in 0.3s both;
  animation: toLeftAnim2 0.6s ease-in 0.3s both; }

.da-slide-toleft .da-link {
  -webkit-animation: toLeftAnim3 0.4s ease-in both;
  -moz-animation: toLeftAnim3 0.4s ease-in both;
  -ms-animation: toLeftAnim3 0.4s ease-in both;
  -o-animation: toLeftAnim3 0.4s ease-in both;
  animation: toLeftAnim3 0.4s ease-in both; }

.da-slide-toleft .da-img {
  -webkit-animation: toLeftAnim4 0.6s ease-in 0.6s both;
  -moz-animation: toLeftAnim4 0.6s ease-in 0.6s both;
  -ms-animation: toLeftAnim4 0.6s ease-in 0.6s both;
  -o-animation: toLeftAnim4 0.6s ease-in 0.6s both;
  animation: toLeftAnim4 0.6s ease-in 0.6s both; }

@-moz-keyframes toLeftAnim1 {
  0% {
    left: 10%;
    opacity: 1; }

  30% {
    left: 15%;
    opacity: 1; }

  100% {
    left: -50%;
    opacity: 0; } }

@-webkit-keyframes toLeftAnim1 {
  0% {
    left: 10%;
    opacity: 1; }

  30% {
    left: 15%;
    opacity: 1; }

  100% {
    left: -50%;
    opacity: 0; } }

@-o-keyframes toLeftAnim1 {
  0% {
    left: 10%;
    opacity: 1; }

  30% {
    left: 15%;
    opacity: 1; }

  100% {
    left: -50%;
    opacity: 0; } }

@-ms-keyframes toLeftAnim1 {
  0% {
    left: 10%;
    opacity: 1; }

  30% {
    left: 15%;
    opacity: 1; }

  100% {
    left: -50%;
    opacity: 0; } }

@keyframes toLeftAnim1 {
  0% {
    left: 10%;
    opacity: 1; }

  30% {
    left: 15%;
    opacity: 1; }

  100% {
    left: -50%;
    opacity: 0; } }

@-moz-keyframes toLeftAnim2 {
  0% {
    left: 10%;
    opacity: 1; }

  30% {
    left: 15%;
    opacity: 1; }

  100% {
    left: -50%;
    opacity: 0; } }

@-webkit-keyframes toLeftAnim2 {
  0% {
    left: 10%;
    opacity: 1; }

  30% {
    left: 15%;
    opacity: 1; }

  100% {
    left: -50%;
    opacity: 0; } }

@-o-keyframes toLeftAnim2 {
  0% {
    left: 10%;
    opacity: 1; }

  30% {
    left: 15%;
    opacity: 1; }

  100% {
    left: -50%;
    opacity: 0; } }

@-ms-keyframes toLeftAnim2 {
  0% {
    left: 10%;
    opacity: 1; }

  30% {
    left: 15%;
    opacity: 1; }

  100% {
    left: -50%;
    opacity: 0; } }

@keyframes toLeftAnim2 {
  0% {
    left: 10%;
    opacity: 1; }

  30% {
    left: 15%;
    opacity: 1; }

  100% {
    left: -50%;
    opacity: 0; } }

@-moz-keyframes toLeftAnim3 {
  0% {
    left: 10%;
    opacity: 1; }

  99% {
    left: 10%;
    opacity: 0; }

  100% {
    left: -50%;
    opacity: 0; } }

@-webkit-keyframes toLeftAnim3 {
  0% {
    left: 10%;
    opacity: 1; }

  99% {
    left: 10%;
    opacity: 0; }

  100% {
    left: -50%;
    opacity: 0; } }

@-o-keyframes toLeftAnim3 {
  0% {
    left: 10%;
    opacity: 1; }

  99% {
    left: 10%;
    opacity: 0; }

  100% {
    left: -50%;
    opacity: 0; } }

@-ms-keyframes toLeftAnim3 {
  0% {
    left: 10%;
    opacity: 1; }

  99% {
    left: 10%;
    opacity: 0; }

  100% {
    left: -50%;
    opacity: 0; } }

@keyframes toLeftAnim3 {
  0% {
    left: 10%;
    opacity: 1; }

  99% {
    left: 10%;
    opacity: 0; }

  100% {
    left: -50%;
    opacity: 0; } }

@-moz-keyframes toLeftAnim4 {
  0% {
    left: 50%;
    opacity: 1; }

  40% {
    left: 70%;
    opacity: 1; }

  90% {
    left: 0;
    opacity: 0; }

  100% {
    left: -50%;
    opacity: 0; } }

@-webkit-keyframes toLeftAnim4 {
  0% {
    left: 50%;
    opacity: 1; }

  40% {
    left: 70%;
    opacity: 1; }

  90% {
    left: 0;
    opacity: 0; }

  100% {
    left: -50%;
    opacity: 0; } }

@-o-keyframes toLeftAnim4 {
  0% {
    left: 50%;
    opacity: 1; }

  40% {
    left: 70%;
    opacity: 1; }

  90% {
    left: 0;
    opacity: 0; }

  100% {
    left: -50%;
    opacity: 0; } }

@-ms-keyframes toLeftAnim4 {
  0% {
    left: 50%;
    opacity: 1; }

  40% {
    left: 70%;
    opacity: 1; }

  90% {
    left: 0;
    opacity: 0; }

  100% {
    left: -50%;
    opacity: 0; } }

@keyframes toLeftAnim4 {
  0% {
    left: 50%;
    opacity: 1; }

  40% {
    left: 70%;
    opacity: 1; }

  90% {
    left: 0;
    opacity: 0; }

  100% {
    left: -50%;
    opacity: 0; } }
/*----start-responaive-design-----*/
@media only screen and (max-width: 1024px) and (min-width:768px) {
	.da-slide .da-title {
	    font-size:3em;
	}
}
@media only screen and (max-width: 768px) and (min-width:640px) {
	.da-slide .da-title {
	    font-size:3em;
	}
   	.da-img {
   		display:none;
   	}
   	.da-slide .da-title {
		width: 100%;
	}
	 .da-slide .da-title {
  		top:65px;
  	}
	.da-title h3 {
		width: 79%;
		text-align: center;
	}
	.da-slider {
	  height:300px;
	 }
}
@media only screen and (max-width: 640px) and (min-width:480px) {
	.da-slide .da-title {
	    font-size:3em;
	}
   	.da-img {
   		display:none;
   	}
   	.da-slide .da-title {
		width: 100%;
	}
	 .da-slide .da-title {
  		top:65px;
  	}
	.da-title h3 {
		width: 79%;
		text-align: center;
	}
	.da-slider {
	  height:300px;
	 }
}
@media only screen and (max-width:480px) and (min-width:320px) {
	.da-slide .da-title {
	    font-size:2.5em;
	}
   	.da-img {
   		display:none;
   	}
   	.da-slide .da-title {
		width: 100%;
	}
	 .da-slide .da-title {
  		top:40px;
  	}
	.da-title h3 {
		width: 80%;
    font-size: 30px;
		text-align: center;
	}
	.da-slider {
	  height:200px;
	 }
	 .da-slider {
		min-width:320px;
	}
}
@media only screen and (max-width:320px) and (min-width:240px) {
	.da-slide .da-title {
	    font-size:2em;
	}
   	.da-img {
   		display:none;
   	}
   	.da-slide .da-title {
		width: 100%;
	}
	 .da-slide .da-title {
  		top:40px;
  	}
	.da-title h3 {
		width:60%;
		text-align: center;
	}
	.da-slider {
	  height:180px;
	 }
	 .da-slider {
		min-width:235px;
	}
}
